body {
    padding: 20px;
    background-color: #F2F2F2;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: #3F3B36;
    font-size: medium;
    font-family: 'Lato', sans-serif;
}